.hidden
{
    visibility: hidden;
}

#RightxAxis line
{
    stroke: blue;
}

#RightxAxis path
{
    stroke: blue;
}

#RightxAxis text
{
    fill: blue;
}

#LeftxAxis line
{
    stroke: red;
}

#LeftxAxis path
{
    stroke: red;
}

#LeftxAxis text
{
    fill: red;
}

#subgraph
{
    float: left;
}

svg
{
    float: left;
}

/*#graph3xAxis line
{
    stroke: green;
}

#graph3xAxis path
{
    stroke: green;
}

#graph3xAxis text
{
    fill: green;
}*/

#tooltip, #clickme
{
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    pointer-events: none;
}

#graph1>text, #graph2>text, #graph3>text, #graph4>text
{
    font-weight: bold;
}